/* 
*{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
} 
  
*/

@import "tailwindcss";
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}