* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    height:40vh;
    width: 50vw;
    background: #ffffff;
    border-radius: 2.5%;
    z-index: -10;
}

.image-wrapper{
    display: flex;
    /* position: absolute; */
    height:24vh;
    width: 50vw;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 2.5%;
    display:flex;
    z-index: 10;
}

.image-text {
    position: absolute;
    bottom: 42.5%;
    font-weight: bolder;
    text-align: left;
    color: white;
    z-index: 30;
    padding-left: 20px;
    font-size: 150%;
}

.text-border {
    position: absolute;
    bottom: 40%;
    width: 50vw;
    height: 5vh;
    border-bottom-left-radius: 7.5%;
    border-bottom-right-radius: 7.5%;
    background-color: black;
    opacity: 20%;
    z-index: 20;
}

.text-box {
    position: absolute;
    bottom: 0%;
    width: 80%;
    height: 40%;
    border-radius: 2.5%;
    background-color: white;
    z-index: 0;
    align-self: center;
}

.summary-text {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    /* text-align: center; */
    color: black;
    z-index: 30;
}

.summary-title {
    position: absolute;
    bottom: 27.5%;
    left: 0;
    right: 0;
    /* text-align: center; */
    color: black;
    z-index: 30;
}